{%  extends "learning_logs/base.html"  %}
{%load bootstrap3%}

{%block header%}
    
  <h2>
    <a href="{%  url 'learning_logs:topic' topic.id   %}">
        {{  topic  }}
    </a>
  </h2>
{%endblock header%}


{%  block content  %}

<!-- <p>
    <a href="{%  url 'learning_logs:topic' topic.id   %}">
        {{  topic  }}
    </a>
</p> -->

<h4>
    添加新条目：
</h4>

<form action="{% url 'learning_logs:new_entry'  topic.id %}" 
    method = 'post'
    class = 'form'>
    {%  csrf_token  %}

    {%bootstrap_form form%}<!--替代L32-->
    <!-- {{  form.as_p  }} -->

    
    <button  name='确认添加'
      class = 'btn btn-primary'>确认添加</button>

</form>

{%  endblock content  %}